node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store
/app/
/.shadow-cljs/
/src/ambulance_hours/.expo/
/.cpcache/
/.nrepl-port
/backup/
/public/cljs-runtime/
/package-lock.json
/public/main.js
/public/manifest.edn
/public/shared.js
/public/service-worker.js
/public/css/
