{:deps true
 :dev-http {9604 {:root "public/"}}
 :builds
 {:app
  {:target :browser
   :asset-path "/"
   :compiler-options {:output-feature-set :es6}
   :modules {:main {:init-fn ambulance-hours.core/init}}
   :output-dir "public"}}}
